
<section class="main-header">
  <h1 class = "title">Nightglam</h1>
  <p class = "content">Instaglam clone</p>
  <br>
  <%= link_to '投稿一覧画面へ', insts_path, class: "btn btn-info top"  %>
  <br>
  <p class = "introduction">Nightglamへようこそ。<br>
  ここは素敵な夜景を見ることのできるサイトです。
  あなたにとって、良き出会いになりますよう。
  </p>
</section>